--[[
ClassName = Surveyor.lua
Module = ScriptVessel
Script = Surveyor.lua.cfg

; === Attachment specs ===
BEGIN_ATTACHMENT
P 0 0 -0.33  0 0 -1  0 1 0  XS
END_ATTACHMENT
END_PARSE
]]--

TRI32=math.sqrt(3.0)/2.0

-- Vessel parameters
LANDER_EMPTY_MASS=289.10
RETRO_EMPTY_MASS = 64.88
AMR_MASS = 3.82

RETRO_PROP_MASS=560.64
RETRO_THRUST = 39140
RETRO_BURNTIME = 40.5
RETRO_ITOT   = RETRO_THRUST*RETRO_BURNTIME
RETRO_ISP   = RETRO_ITOT/RETRO_PROP_MASS
RETRO_STA   = -1.028

VERNIER_PROP_MASS = 70.98
VERNIER_ISP = 3200
VERNIER_THRUST = 463
VERNIER_RAD = 1.09
VERNIER_STA = -0.504

RCS_PROP_MASS=2
RCS_ISP = 630.0
RCS_THRUST = 0.25
RCS_RAD = 1.852
RCS_STA = -0.653
RCS_SPACE = 0.1

LEG_RAD       =  2.052
LEG_STA       = -0.792
LEG_PIVOT_RAD =  1.119
LEG_PIVOT_STA = -0.33

--For deploy/stow animations:
-- * Model shows deployed configuration
-- * deployed is animation progress 0.0
-- * stowed is animation progress 1.0
-- * deploying decreases animation progress
-- * stwoing increases animation progress
DEPLOYED=0
STOWED=1
DEPLOYING=2
STOWING=3

gear_status={progress=0.0, state=DEPLOYED, tag="GEAR",time=0.5,anim=nil}
ant_status={progress=0.0, state=DEPLOYED, tag="ANT",time=0.5,anim=nil}
scoop_status={progress=0.0, state=DEPLOYED, tag="SCOOP",time=15,anim=nil}

function anim_status_savestate(scn,status)
  oapi.writescenario_string(scn, status.tag,   status.state   .. " " .. status.progress)
end

function anim_status_propagate(status,simdt)
    local da = simdt / status.time
    if status.state == STOWING then
        if status.progress < 1.0 then
            status.progress=math.min(1.0, status.progress + da)
            vi:set_animation(status.anim,Sproing(status.progress))
       else
            status.state = STOWED
       end
    elseif status.state == DEPLOYING then
        if status.progress > 0.0 then
            status.progress = math.max(0.0, status.progress - da)
            vi:set_animation(status.anim, Sproing(status.progress))
        else
            status.state = DEPLOYED
        end
    end
end

-- helper function to create an iterator usable in a for loop
local function iterate_lines(scn)
    return function()
              return oapi.readscenario_nextline(scn)
           end
end

function clbk_loadstateex(scn, vs)
  for line in iterate_lines(scn) do
       local kw, state, progress = line:match("(%S+) (%d) (%S+)")
       if     kw == "GEAR"   then 
          gear_status.state=tonumber(state)
          gear_status.progress   = tonumber(progress)
          vi:set_animation(gear_status.anim,   Sproing(gear_status.progress))
       else
           vi:parse_scenario_line_ex(line, vs)
       end
  end
  
end

-- SetClassCaps implementation

function create_animations()

  anim_gear = vi:create_animation(0.0);
  --leg 1
  vi:add_animationcomponent(anim_gear, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {17},
    ref = {x=0,y=LEG_PIVOT_RAD,z=LEG_PIVOT_STA},
    axis = {x=1,y=0,z=0},
    angle = 130/(180/PI)
  }))
  --leg 2
  vi:add_animationcomponent(anim_gear, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {18},
    ref = {x=-TRI32*LEG_PIVOT_RAD,y=-0.5*LEG_PIVOT_RAD,z=LEG_PIVOT_STA},
    axis = {x=-0.5,y=TRI32,z=0},
    angle = 130/(180/PI)
  }))
  --leg3
  vi:add_animationcomponent(anim_gear, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {19},
    ref = {x=TRI32*LEG_PIVOT_RAD,y=-0.5*LEG_PIVOT_RAD,z=LEG_PIVOT_STA},
    axis = {x=-0.5,y=-TRI32,z=0},
    angle = 130/(180/PI)
  }))
  gear_status.anim=anim_gear
  
  anim_ant=vi:create_animation(0.0)
  -- Omni A
  vi:add_animationcomponent(anim_ant, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {15},
    ref = {x=TRI32*LEG_PIVOT_RAD,y=-0.5*LEG_PIVOT_RAD,z=LEG_PIVOT_STA},
    axis = {x=-0.5,y=-TRI32,z=0},
    angle = 55/(180/PI)
  }))
  -- Omni B
  vi:add_animationcomponent(anim_ant, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {16},
    ref = {x=0,y=LEG_PIVOT_RAD,z=LEG_PIVOT_STA},
    axis = {x=1,y=0,z=0},
    angle = 45/(180/PI)
  }))
  -- High Gain 
  vi:add_animationcomponent(anim_ant, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {12},
    ref = {x=0,y=-0.236,z=2.105},
    axis = {x=1,y=0,z=0},
    angle = 45/(180/PI)
  }))
  -- Solar Panel
  vi:add_animationcomponent(anim_ant, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {13},
    ref = {x=0,y=-0.02,z=1.92},
    axis = {x=-1,y=0,z=0},
    angle = 30/(180/PI)
  }))  
  ant_status.anim=anim_ant
  
  anim_scoop=vi:create_animation(0.0)
  vi:add_animationcomponent(anim_scoop, 0.0, 1.0, oapi.create_animationcomponent({
    type = 'rotation',
    mesh = 0,
    grp = {14},
    ref = {x=-0.115,y=-0.756,z=0.00},
    axis = {x=0,y=0,z=1},
    angle = 105/(180/PI)
  }))  
  scoop_status.anim=anim_scoop
  
end

function create_propellant()
  ph_vernier = vi:create_propellantresource(VERNIER_PROP_MASS);
  ph_rcs     = vi:create_propellantresource(RCS_PROP_MASS);
  ph_retro   = vi:create_propellantresource(RETRO_PROP_MASS);
  vi:set_default_propellantresource(ph_vernier);

end

function create_thrusters()
    th_retro = vi:create_thruster({pos=_V(0.0,0.0,RETRO_STA),dir=_V(0,0,1),maxth0=RETRO_THRUST, hprop=ph_retro, isp0=RETRO_ISP});
  vi:add_exhaust(th_retro, 2, 0.3);

  th_vernier={vi:create_thruster({pos=_V(   0.0*VERNIER_RAD, 1.0*VERNIER_RAD,VERNIER_STA), dir=_V(0,0,1), maxth0=VERNIER_THRUST, hprop=ph_vernier, isp0=VERNIER_ISP}),
              vi:create_thruster({pos=_V( TRI32*VERNIER_RAD,-0.5*VERNIER_RAD,VERNIER_STA), dir=_V(0,0,1), maxth0=VERNIER_THRUST, hprop=ph_vernier, isp0=VERNIER_ISP}),
              vi:create_thruster({pos=_V(-TRI32*VERNIER_RAD,-0.5*VERNIER_RAD,VERNIER_STA), dir=_V(0,0,1), maxth0=VERNIER_THRUST, hprop=ph_vernier, isp0=VERNIER_ISP})
              }
  
  vi:create_thrustergroup(th_vernier, THGROUP.MAIN);
  for i,thr in ipairs(th_vernier) do
      vi:add_exhaust(thr, 1, 0.1)
  end
end

function clbk_setclasscaps(cfg)

  -- physical vessel parameters
  vi:set_size(1.0)
  vi:set_emptymass(LANDER_EMPTY_MASS)
  
  vi:set_pmi(_V(0.5,0.6,0.5));
  vi:set_cameraoffset (_V(0,1,1));
  vi:set_touchdownpoints( _V( 0,LEG_RAD,LEG_STA), _V( TRI32*LEG_RAD,-0.5*LEG_RAD,LEG_STA), _V(-TRI32*LEG_RAD,-0.5*LEG_RAD,LEG_STA));
  
  create_animations()
  create_propellant()
  create_thrusters()
  
  -- associate a mesh for the visual
  vi:add_mesh('Surveyor-Lander')
end

function clbk_savestate(scn)
  anim_status_savestate(scn,gear_status)
  anim_status_savestate(scn,ant_status)
  anim_status_savestate(scn,scoop_status)
end

local function toggle_status(status)
    if status.state == DEPLOYED or status.state == DEPLOYING then
        status.state=STOWING
    else
        status.state=DEPLOYING
    end
end

function clbk_consumebufferedkey(key, down, kstate)
    if not down then -- only process keydown events
        return false
    end

    if key == OAPI_KEY.G then     -- deploy/retract gear
        toggle_status(gear_status)
        return true
    end
    if key == OAPI_KEY.A then     -- deploy/retract gear
        toggle_status(ant_status)
        return true
    end
    if key == OAPI_KEY.S then     -- deploy/retract gear
        toggle_status(scoop_status)
        return true
    end
    return false
end

function Sproing(progress)
    return 1-(math.cos(PI*progress)/2.0+0.5)
end

--------------------------------------------------------------
-- Frame update
--------------------------------------------------------------
function clbk_poststep(simt, simdt, mjd)
    -- Animations
    anim_status_propagate(gear_status,simdt)
    anim_status_propagate(ant_status,simdt)
    anim_status_propagate(scoop_status,simdt)
end


